@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.font-primary {
    font-family: "Playfair Display", sans-serif;
}
.font-secondary {
    font-family: "Inter", sans-serif;
}