@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";

@import "auth.css";
@import "navigation.css";
@import "hero-section.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.font-primary {
    font-family: "Playfair Display", sans-serif;
}
.font-secondary {
    font-family: "Inter", sans-serif;
}
